<div class="widget">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget-body">
        <ul>
            <li>
                <!-- <a href="http://despro.com.cn" target="_blank">广州侦探</a> -->
                <!-- <a href="https://www.aguo.com/Andriod/game/839094.html" target="_blank">全民炸金花</a> -->
            </li>
        </ul>
    </div>
</div>