<div id="SOHUCS" sid="<%= post.path %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
  window.changyan.api.config({
    appid: '<%= theme.comment.changyan.appid %>',
    conf: '<%= theme.comment.changyan.conf %>'
  });
</script>