<% if (post.comments) { %>
    <% if (theme.comment.type == 'changyan') { %>
        <a href="<%= post.permalink %>#comments" id="sourceId::<%= post.path %>" class="article-comment-link cy_cmt_count"><%= __('article.comments') %></a>
    <% } %>
<% } %>