<% if (post.comments) { %>
    <% if (theme.comment.type === 'changyan') { %>
        <section id="comments"><%- partial('comment/changyan') %></section>
    <% } else if (theme.comment.type === 'gitalk') {%>
        <section id="comments"><%- partial('comment/gitalk') %></section>
    <% } %>
<% } %>