doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      include nav

      block content

    script(src='//cdn.staticfile.org/jquery/1.9.0/jquery.min.js')
    script(src='//cdn.staticfile.org/jquery-migrate/1.2.1/jquery-migrate.min.js')
    script(src='//cdn.staticfile.org/jquery.appear/0.3.3/jquery.appear.min.js')
    script(src= url_for('script/main.js'))
